[submodule "libdparse"]
	path = libdparse
	url = https://github.com/Hackerpilot/libdparse.git
	branch = master
[submodule "libddoc"]
	path = libddoc
	url = https://github.com/economicmodeling/libddoc.git
	branch = master
[submodule "dmarkdown"]
	path = dmarkdown
	url = https://github.com/kiith-sa/dmarkdown.git
[submodule "containers"]
	path = containers
	url = https://github.com/economicmodeling/containers.git
