[submodule "libdparse"]
	path = libdparse
	url = https://github.com/dlang-community/libdparse.git
	branch = master
[submodule "libddoc"]
	path = libddoc
	url = https://github.com/economicmodeling/libddoc.git
	branch = master
[submodule "dmarkdown"]
	path = dmarkdown
	url = https://github.com/kiith-sa/dmarkdown.git
[submodule "makd"]
	path = makd
	url = https://github.com/sociomantic-tsunami/makd.git
